<h2>Add a new puppy:</h2>
<form method="POST" action="display_puppy">
  <p><label for="name">Puppy Name:</label> <input type="text" name="name" id="name"></p>
  <p><label for="breed">Puppy Breed:</label> <input type="text" name="breed" id="breed"></p>
  <p><label for="age">Puppy Age:</label> <input type="text" name="age" id="age"></p>
  <input type="submit" id="submit" value="Submit">
</form>
