<h2>Add a new puppy:</h2>
<form method="POST" action="display_puppy">
  <p>Name: <input type="text" name="name" id="name"></p>
  <p>Breed: <input type="text" name="breed" id="breed"></p>
  <p>Age: <input type="text" name="age" id="age"></p>
  <input type="submit" id="submit" value="Submit">
</form>
